#parrafo{
  background-color: orange;
}

body {
  background-color: grey;
}

#blancoynegro{
  background-color: grey;
  color: orange;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

#colores{
  background-color: grey;
  color: orange;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
